footer{
    background-color: #243645;
    color: #768591;
}

.footer-copyright{
    background-color: #263238;
}

nav{
    background-color: #243645;
    color: #768591;
}

div .principal{
    background-color: #768591;
}