<!--The content below is only a placeholder and can be replaced.-->

<div class="principal">  
  <nav>
    <div class="nav-wrapper blue-grey darken-4">
      <a class="brand-logo center">Laureate Channel Videos</a>
    </div>
  </nav>
  <app-home></app-home>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Developer</h5>
            <p class="grey-text text-lighten-4"><i class="material-icons left">person</i>Juany Ramirez</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Date</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons left">date_range</i>5 Feb. 2018</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright blue-grey darken-4">
        <div class="container">Software Development Test</div>
      </div>
    </footer>
        
</div>


<router-outlet></router-outlet>
