<div class="home">
  <br>
  <div class="container">
    <div class="row search">
      <div class="col s10">
        <nav>
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
      <div class="col s2">
          <a class="waves-effect waves-light btn-large yellow darken-4"><i class="material-icons left" id="searchBtn">search</i>Buscar</a>
      </div>
    </div>
    <br>
    <div class="row color-light">
      <div class="col s6 color-dark">
        <p>Add a bucket list item</p>
      </div>
      <div class="col s6 color-dark">
        <p>Your bucket list</p>
      </div>
      <div class="col s6 color-light">
        <p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>
      </div>
      <div class="col s6 color-light">
        <p class="detail-info">
            form below to add a new
        </p>
        <p class="detail-info">
            form below to add a new
        </p>
      </div>
    </div>
    <div class="row color-light">
      <div class="col s6 color-dark">
        <p>Add a bucket list item</p>
      </div>
      <div class="col s6 color-dark">
        <p>Your bucket list</p>
      </div>
      <div class="col s6 color-light">
        <p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your life?</p>
      </div>
      <div class="col s6 color-light">
        <p class="detail-info">
            form below to add a new
        </p>
        <p class="detail-info">
            form below to add a new
        </p>
      </div>
    </div>
    <br>
  </div>
  
 
</div>
