<div class="home">
  <br>
  <div class="container">
    <div class="row center search">
      <div class="col s9">
        <nav>
          <div class="nav-wrapper yellow darken-4">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
      <div (click)="getPosts()" class="col s3">
          <a class="waves-effect waves-light btn-large yellow darken-4"><i class="material-icons left">search</i>Buscar</a>
      </div>
    </div>
    <div class="row dark-nav">
      <div class="col s2 offset-s2 valign-wrapper" id="arrowBtn">
        <a class="btn-floating btn waves-effect waves-light  orange darken-3" (click)="prevPage()"><i class="material-icons">arrow_back</i></a>
      </div>
      <div class="col s4 center">
          <h3 id="videoTtl" ><i class="small material-icons">video_library</i>Videos</h3>
          ({{channel.pageInfo.totalResults}} resultados)
      </div>
      <div class="col s2 offset-s2 valign-wrapper" id="arrowBtn">
        <a class="btn-floating btn waves-effect waves-light  orange darken-3" (click)="nextPage()"><i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
    <div *ngIf="chans" >
        <div class="row color-light hoverable" *ngFor="let item of channel.items; let i = index">
          <div class="col s12 color-dark">
            <h5 id="videoTtl"><i class="material-icons yellow darken-4 text">videocam</i><span>{{channel.items[i].snippet.title}}</span> </h5>
          </div>
          <div class="col s4 color-light valign-wrapper">
              <img class="responsive-img" [src]="channel.items[i].snippet.thumbnails.medium.url">
          </div>
          <div class="col s5 color-light valign-wrapper">
            <p class="sm">{{channel.items[i].snippet.description}} </p>
          </div>
          <div class="col s3 color-light">
            <p class="detail-info">
                Fecha: {{(channel.items[i].snippet.publishedAt).substring(0, 10)}}
            </p>
            <p class="detail-info">
                Hora: {{(channel.items[i].snippet.publishedAt).substring(11,16)}}
            </p>
          </div>
        </div>
        
    </div>
    <br>
  </div>
  
 
</div>
