@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

.home{
    background: #DCE4E5;
    background-size: auto;
    font-family: 'Raleway', 'Arial';
}

div .search{
    vertical-align: middle;
}

#videoTtl{
    color: #EBF0F2;
}

#searchBtn{
    color: #EBF0F2 !important;
}

#arrowBtn{
    height: 120px;
    vertical-align: middle;
    align-items: center;
}

.dark-nav {
    background: #243645;
    color: #768591;
}

.color-dark {
    background: #768591;
}

.color-light {
    background: #EBF0F2;
}

.detail-info {
    background:#DCE4E5;
    padding:.5em;
    font-weight:bold;
}
nav{
    background-color: #243645;
    color: #768591;
    height: 57px;
}
